# Question2
- 주제 : UnivClass_Alfredo 알프레도 대학 교실의 요일과 에너지의 상관관계를 파악 후 평일 중 공휴일을 찾아보자
- 사용 데이터 : All_buildings_meta_data.csv, weather0.csv

## 데이터 확인

In [33]:
import pandas as pd

meta_data = pd.read_csv("./data/all_buildings_meta_data.csv")
meta_data

,uid,dataend,datastart,energystarscore,heatingtype,industry,mainheatingtype,numberoffloors,occupants,primaryspaceusage,rating,sqft,sqm,subindustry,timezone,yearbuilt,nickname,primaryspaceuse_abbrev,newweatherfilename
0,PrimClass_Everett,31/12/12 23:00,01/01/12 00:00,NaN,NaN,Education,NaN,NaN,NaN,Primary/Secondary Classroom,NaN,105530.0000,9804.053590,Primary/Secondary School,America/New_York,NaN,Everett,PrimClass,weather12.csv
1,UnivClass_Clifford,31/12/15 23:00,01/01/15 00:00,NaN,NaN,Education,NaN,NaN,NaN,College Classroom,NaN,56969.0000,5292.591007,College/University,America/New_York,1967,Clifford,UnivClass,weather2.csv
2,Office_Elizabeth,31/12/12 23:00,01/01/12 00:00,NaN,NaN,Commercial Property,NaN,NaN,NaN,Office,NaN,294651.0000,27373.961850,Commercial Real Estate,America/Los_Angeles,NaN,Elizabeth,Office,weather22.csv
3,Office_Ellie,31/12/12 23:00,01/01/12 00:00,NaN,NaN,Commercial Property,NaN,NaN,NaN,Office,NaN,496517.0000,46127.918850,Bank/Financial Services,America/Los_Angeles,NaN,Ellie,Office,weather28.csv
4,PrimClass_Elisabeth,31/12/12 23:00,01/01/12 00:00,NaN,NaN,Education,NaN,NaN,NaN,Primary/Secondary Classroom,NaN,233062.0000,21652.158990,Primary/Secondary School,America/New_York,NaN,Elisabeth,PrimClass,weather23.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,Office_Lane,30/11/15 23:00,01/12/14 00:00,NaN,Heat network,Education,Heat Network,8.0,NaN,Office,NaN,34455.2439,3201.000000,College/University,Europe/London,1907,Lane,Office,weather5.csv
503,Office_Cameron,31/12/15 23:00,01/01/15 00:00,NaN,NaN,Education,NaN,NaN,NaN,Office,NaN,53303.0000,4952.008609,College/University,America/New_York,1981,Cameron,Office,weather2.csv
504,UnivLab_Lea,30/11/15 23:00,01/12/14 00:00,NaN,Gas,Education,Gas,6.0,NaN,College Laboratory,NaN,16802.4479,1561.000000,College/University,Europe/London,1995,Lea,UnivLab,weather5.csv
505,UnivLab_Carlos,31/12/15 23:00,01/01/15 00:00,NaN,NaN,Education,NaN,NaN,NaN,College Laboratory,NaN,30143.0000,2800.375129,College/University,America/New_York,1951,Carlos,UnivLab,weather2.csv
506,UnivLab_Aoife,31/12/15 23:00,01/01/15 00:00,NaN,NaN,Education,NaN,NaN,NaN,College Laboratory,NaN,261188.0000,24265.148760,College/University,America/Phoenix,NaN,Aoife,UnivLab,weather0.csv

해당 데이터 중 UnivClass_Alfredo의 날씨 데이터 명 확인 -> weather0.csv 사용

In [34]:
meta_data[meta_data["uid"] == "UnivClass_Alfredo"]

,uid,dataend,datastart,energystarscore,heatingtype,industry,mainheatingtype,numberoffloors,occupants,primaryspaceusage,rating,sqft,sqm,subindustry,timezone,yearbuilt,nickname,primaryspaceuse_abbrev,newweatherfilename
346,UnivClass_Alfredo,31/12/15 23:00,01/01/15 00:00,NaN,NaN,Education,NaN,NaN,NaN,College Classroom,NaN,90903.0,8445.161409,College/University,America/Phoenix,NaN,Alfredo,UnivClass,weather0.csv

weather0.csv 데이터 확인

In [35]:
weather = pd.read_csv("./data/weather0.csv")
weather

,timestamp,TimeMST,TemperatureC,Dew PointC,Humidity,Sea Level PressurehPa,VisibilityKm,Wind Direction,Wind SpeedKm/h,Gust SpeedKm/h,Precipitationmm,Events,Conditions,WindDirDegrees,DateUTC<br />,timestamp.1
0,2015-01-01 00:51:00,12:51 AM,2.8,-0.6,79.0,1016.0,16.1,WNW,9.3,-,NaN,NaN,Mostly Cloudy,300,2015-01-01 07:51:00<br />,2015-01-01 00:51:00
1,2015-01-01 01:47:00,1:47 AM,3.0,-1.0,75.0,1016.5,16.1,WNW,5.6,-,NaN,NaN,Mostly Cloudy,300,2015-01-01 08:47:00<br />,2015-01-01 01:47:00
2,2015-01-01 01:51:00,1:51 AM,2.8,-0.6,79.0,1016.9,16.1,WNW,7.4,-,NaN,NaN,Mostly Cloudy,300,2015-01-01 08:51:00<br />,2015-01-01 01:51:00
3,2015-01-01 02:51:00,2:51 AM,2.8,-1.1,76.0,1017.2,16.1,NW,5.6,-,NaN,NaN,Scattered Clouds,320,2015-01-01 09:51:00<br />,2015-01-01 02:51:00
4,2015-01-01 03:51:00,3:51 AM,2.2,-0.6,82.0,1017.5,16.1,ENE,5.6,-,NaN,NaN,Partly Cloudy,60,2015-01-01 10:51:00<br />,2015-01-01 03:51:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8994,2015-12-31 19:51:00,7:51 PM,12.2,-6.1,28.0,1016.6,16.1,West,11.1,-,NaN,NaN,Clear,280,2016-01-01 02:51:00<br />,2015-12-31 19:51:00
8995,2015-12-31 20:51:00,8:51 PM,11.7,-6.7,27.0,1017.0,16.1,West,11.1,-,NaN,NaN,Partly Cloudy,270,2016-01-01 03:51:00<br />,2015-12-31 20:51:00
8996,2015-12-31 21:51:00,9:51 PM,10.0,-6.7,31.0,1017.2,16.1,West,5.6,-,NaN,NaN,Clear,260,2016-01-01 04:51:00<br />,2015-12-31 21:51:00
8997,2015-12-31 22:51:00,10:51 PM,9.4,-6.1,33.0,1017.4,16.1,Calm,Calm,-,NaN,NaN,Clear,0,2016-01-01 05:51:00<br />,2015-12-31 22:51:00
8998,2015-12-31 23:51:00,11:51 PM,7.2,-5.6,40.0,1017.3,16.1,Calm,Calm,-,NaN,NaN,Clear,0,2016-01-01 06:51:00<br />,2015-12-31 23:51:00

UnivClass_Alfredo.csv 데이터 확인

In [37]:
energy = pd.read_csv("./data/UnivClass_Alfredo.csv")
energy

                timestamp  UnivClass_Alfredo
0     2015-01-01 00:00:00           204.2500
1     2015-01-01 01:00:00           202.6150
2     2015-01-01 02:00:00           198.5525
3     2015-01-01 03:00:00           198.5050
4     2015-01-01 04:00:00           201.8350
...                   ...                ...
8755  2015-12-31 19:00:00           177.0500
8756  2015-12-31 20:00:00           177.0300
8757  2015-12-31 21:00:00           166.7425
8758  2015-12-31 22:00:00           177.5900
8759  2015-12-31 23:00:00           175.9400

[8760 rows x 2 columns]

## 데이터 처리

In [60]:
# 원본 데이터에 영향을 주지 않기 위해 복사본 데이터를 명시적으로 표시
time_weather = weather.copy()
time_weather

,timestamp,TimeMST,TemperatureC,Dew PointC,Humidity,Sea Level PressurehPa,VisibilityKm,Wind Direction,Wind SpeedKm/h,Gust SpeedKm/h,Precipitationmm,Events,Conditions,WindDirDegrees,DateUTC<br />,timestamp.1
0,2015-01-01 00:51:00,12:51 AM,2.8,-0.6,79.0,1016.0,16.1,WNW,9.3,-,NaN,NaN,Mostly Cloudy,300,2015-01-01 07:51:00<br />,2015-01-01 00:51:00
1,2015-01-01 01:47:00,1:47 AM,3.0,-1.0,75.0,1016.5,16.1,WNW,5.6,-,NaN,NaN,Mostly Cloudy,300,2015-01-01 08:47:00<br />,2015-01-01 01:47:00
2,2015-01-01 01:51:00,1:51 AM,2.8,-0.6,79.0,1016.9,16.1,WNW,7.4,-,NaN,NaN,Mostly Cloudy,300,2015-01-01 08:51:00<br />,2015-01-01 01:51:00
3,2015-01-01 02:51:00,2:51 AM,2.8,-1.1,76.0,1017.2,16.1,NW,5.6,-,NaN,NaN,Scattered Clouds,320,2015-01-01 09:51:00<br />,2015-01-01 02:51:00
4,2015-01-01 03:51:00,3:51 AM,2.2,-0.6,82.0,1017.5,16.1,ENE,5.6,-,NaN,NaN,Partly Cloudy,60,2015-01-01 10:51:00<br />,2015-01-01 03:51:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8994,2015-12-31 19:51:00,7:51 PM,12.2,-6.1,28.0,1016.6,16.1,West,11.1,-,NaN,NaN,Clear,280,2016-01-01 02:51:00<br />,2015-12-31 19:51:00
8995,2015-12-31 20:51:00,8:51 PM,11.7,-6.7,27.0,1017.0,16.1,West,11.1,-,NaN,NaN,Partly Cloudy,270,2016-01-01 03:51:00<br />,2015-12-31 20:51:00
8996,2015-12-31 21:51:00,9:51 PM,10.0,-6.7,31.0,1017.2,16.1,West,5.6,-,NaN,NaN,Clear,260,2016-01-01 04:51:00<br />,2015-12-31 21:51:00
8997,2015-12-31 22:51:00,10:51 PM,9.4,-6.1,33.0,1017.4,16.1,Calm,Calm,-,NaN,NaN,Clear,0,2016-01-01 05:51:00<br />,2015-12-31 22:51:00
8998,2015-12-31 23:51:00,11:51 PM,7.2,-5.6,40.0,1017.3,16.1,Calm,Calm,-,NaN,NaN,Clear,0,2016-01-01 06:51:00<br />,2015-12-31 23:51:00

energy 데이터의 경우 시간당 에너지로 기록되어 있음.
하지만 weather 데이터의 경우 대부분 시간당 기록되어 있지만 일부 한 시간 동안 두번 측정된데이터가 존재
우리는 시간당 에너지의 변화가 알고 싶기 때문에 weather 데이터 중 한시간 동안 두번 측정된 데이터를 하나 값만 남김

In [61]:
time_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8999 entries, 0 to 8998
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   timestamp              8999 non-null   object
 1   TimeMST                8999 non-null   object
 2   TemperatureC           8999 non-null   float64
 3   Dew PointC             8999 non-null   float64
 4   Humidity               8990 non-null   float64
 5   Sea Level PressurehPa  8999 non-null   float64
 6   VisibilityKm           8999 non-null   float64
 7   Wind Direction         8999 non-null   object
 8   Wind SpeedKm/h         8999 non-null   object
 9   Gust SpeedKm/h         8999 non-null   object
 10  Precipitationmm        443 non-null    float64
 11  Events                 330 non-null    object
 12  Conditions             8999 non-null   object
 13  WindDirDegrees         8999 non-null   int64
 14  DateUTC<br />          8999 non-null   object
 15  timestamp.1            8999 non-null   object
dtypes: float64(6), int64(1), object(9)
memory usage: 1.1+ MB

시간 단위 데이터 처리가 편하도록 timestamp를 datatime으로 처리

In [62]:
time_weather['timestamp'] = pd.to_datetime(time_weather['timestamp'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
time_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8999 entries, 0 to 8998
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   timestamp              8999 non-null   datetime64[ns]
 1   TimeMST                8999 non-null   object
 2   TemperatureC           8999 non-null   float64
 3   Dew PointC             8999 non-null   float64
 4   Humidity               8990 non-null   float64
 5   Sea Level PressurehPa  8999 non-null   float64
 6   VisibilityKm           8999 non-null   float64
 7   Wind Direction         8999 non-null   object
 8   Wind SpeedKm/h         8999 non-null   object
 9   Gust SpeedKm/h         8999 non-null   object
 10  Precipitationmm        443 non-null    float64
 11  Events                 330 non-null    object
 12  Conditions             8999 non-null   object
 13  WindDirDegrees         8999 non-null   int64
 14  DateUTC<br />          8999 non-null   object
 15  timestamp.1            8999 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(1), object(8)
memory usage: 1.1+ MB

년, 월, 일, 시간 컬럼 생성

In [63]:
dt = pd.DatetimeIndex(time_weather["timestamp"])
time_weather["date"] = dt.date
time_weather["year"] = dt.year
time_weather["month"] = dt.month
time_weather["day"] = dt.day
time_weather["hour"] = dt.hour
time_weather["dayofweek"] = dt.dayofweek

In [64]:
time_weather

,timestamp,TimeMST,TemperatureC,Dew PointC,Humidity,Sea Level PressurehPa,VisibilityKm,Wind Direction,Wind SpeedKm/h,Gust SpeedKm/h,...,Conditions,WindDirDegrees,DateUTC<br />,timestamp.1,date,year,month,day,hour,dayofweek
0,2015-01-01 00:51:00,12:51 AM,2.8,-0.6,79.0,1016.0,16.1,WNW,9.3,-,...,Mostly Cloudy,300,2015-01-01 07:51:00<br />,2015-01-01 00:51:00,2015-01-01,2015,1,1,0,3
1,2015-01-01 01:47:00,1:47 AM,3.0,-1.0,75.0,1016.5,16.1,WNW,5.6,-,...,Mostly Cloudy,300,2015-01-01 08:47:00<br />,2015-01-01 01:47:00,2015-01-01,2015,1,1,1,3
2,2015-01-01 01:51:00,1:51 AM,2.8,-0.6,79.0,1016.9,16.1,WNW,7.4,-,...,Mostly Cloudy,300,2015-01-01 08:51:00<br />,2015-01-01 01:51:00,2015-01-01,2015,1,1,1,3
3,2015-01-01 02:51:00,2:51 AM,2.8,-1.1,76.0,1017.2,16.1,NW,5.6,-,...,Scattered Clouds,320,2015-01-01 09:51:00<br />,2015-01-01 02:51:00,2015-01-01,2015,1,1,2,3
4,2015-01-01 03:51:00,3:51 AM,2.2,-0.6,82.0,1017.5,16.1,ENE,5.6,-,...,Partly Cloudy,60,2015-01-01 10:51:00<br />,2015-01-01 03:51:00,2015-01-01,2015,1,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8994,2015-12-31 19:51:00,7:51 PM,12.2,-6.1,28.0,1016.6,16.1,West,11.1,-,...,Clear,280,2016-01-01 02:51:00<br />,2015-12-31 19:51:00,2015-12-31,2015,12,31,19,3
8995,2015-12-31 20:51:00,8:51 PM,11.7,-6.7,27.0,1017.0,16.1,West,11.1,-,...,Partly Cloudy,270,2016-01-01 03:51:00<br />,2015-12-31 20:51:00,2015-12-31,2015,12,31,20,3
8996,2015-12-31 21:51:00,9:51 PM,10.0,-6.7,31.0,1017.2,16.1,West,5.6,-,...,Clear,260,2016-01-01 04:51:00<br />,2015-12-31 21:51:00,2015-12-31,2015,12,31,21,3
8997,2015-12-31 22:51:00,10:51 PM,9.4,-6.1,33.0,1017.4,16.1,Calm,Calm,-,...,Clear,0,2016-01-01 05:51:00<br />,2015-12-31 22:51:00,2015-12-31,2015,12,31,22,3
8998,2015-12-31 23:51:00,11:51 PM,7.2,-5.6,40.0,1017.3,16.1,Calm,Calm,-,...,Clear,0,2016-01-01 06:51:00<br />,2015-12-31 23:51:00,2015-12-31,2015,12,31,23,3

한 시간 동안 두번 이상 측정 된 데이터 하나만 남기고 삭제

In [65]:
time_weather[time_weather.duplicated(["date", "hour"], keep=False)]

,timestamp,TimeMST,TemperatureC,Dew PointC,Humidity,Sea Level PressurehPa,VisibilityKm,Wind Direction,Wind SpeedKm/h,Gust SpeedKm/h,...,Conditions,WindDirDegrees,DateUTC<br />,timestamp.1,date,year,month,day,hour,dayofweek
1,2015-01-01 01:47:00,1:47 AM,3.0,-1.0,75.0,1016.5,16.1,WNW,5.6,-,...,Mostly Cloudy,300,2015-01-01 08:47:00<br />,2015-01-01 01:47:00,2015-01-01,2015,1,1,1,3
2,2015-01-01 01:51:00,1:51 AM,2.8,-0.6,79.0,1016.9,16.1,WNW,7.4,-,...,Mostly Cloudy,300,2015-01-01 08:51:00<br />,2015-01-01 01:51:00,2015-01-01,2015,1,1,1,3
12,2015-01-01 11:21:00,11:21 AM,5.6,-1.7,60.0,1020.5,16.1,Variable,5.6,-,...,Mostly Cloudy,0,2015-01-01 18:21:00<br />,2015-01-01 11:21:00,2015-01-01,2015,1,1,11,3
13,2015-01-01 11:51:00,11:51 AM,5.6,-1.7,60.0,1020.5,16.1,Variable,7.4,-,...,Mostly Cloudy,0,2015-01-01 18:51:00<br />,2015-01-01 11:51:00,2015-01-01,2015,1,1,11,3
14,2015-01-01 12:04:00,12:04 PM,5.6,-2.2,58.0,1020.2,16.1,North,11.1,-,...,Mostly Cloudy,360,2015-01-01 19:04:00<br />,2015-01-01 12:04:00,2015-01-01,2015,1,1,12,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8573,2015-12-14 09:17:00,9:17 AM,7.2,5.0,86.0,1009.4,6.4,NW,11.1,-,...,Rain,320,2015-12-14 16:17:00<br />,2015-12-14 09:17:00,2015-12-14,2015,12,14,9,0
8574,2015-12-14 09:32:00,9:32 AM,7.2,5.0,86.0,1009.4,8.0,NNW,13.0,-,...,Light Rain,340,2015-12-14 16:32:00<br />,2015-12-14 09:32:00,2015-12-14,2015,12,14,9,0
8575,2015-12-14 09:51:00,9:51 AM,7.2,5.0,86.0,1009.4,14.5,Variable,7.4,-,...,Light Rain,0,2015-12-14 16:51:00<br />,2015-12-14 09:51:00,2015-12-14,2015,12,14,9,0
8865,2015-12-26 11:33:00,11:33 AM,11.1,-11.1,20.0,1016.1,16.1,NNE,29.6,44.4,...,Scattered Clouds,30,2015-12-26 18:33:00<br />,2015-12-26 11:33:00,2015-12-26,2015,12,26,11,5
8866,2015-12-26 11:51:00,11:51 AM,11.7,-11.1,20.0,1015.8,16.1,NNE,25.9,42.6,...,Scattered Clouds,30,2015-12-26 18:51:00<br />,2015-12-26 11:51:00,2015-12-26,2015,12,26,11,5

In [66]:
# 삭제
time_weather = time_weather.drop_duplicates(["date", "hour"], keep="last")

In [67]:
# 확인
time_weather[time_weather.duplicated(["date", "hour"], keep=False)]

Empty DataFrame
Columns: [timestamp, TimeMST, TemperatureC, Dew PointC, Humidity, Sea Level PressurehPa, VisibilityKm, Wind Direction, Wind SpeedKm/h, Gust SpeedKm/h, Precipitationmm, Events, Conditions, WindDirDegrees, DateUTC<br />, timestamp.1, date, year, month, day, hour, dayofweek]
Index: []

[0 rows x 22 columns]

time_weather과 energy 데이터를 결합하기위해 energy data도 날짜와 시간 컬럼 만들어주자

In [70]:
energy

                timestamp  UnivClass_Alfredo
0     2015-01-01 00:00:00           204.2500
1     2015-01-01 01:00:00           202.6150
2     2015-01-01 02:00:00           198.5525
3     2015-01-01 03:00:00           198.5050
4     2015-01-01 04:00:00           201.8350
...                   ...                ...
8755  2015-12-31 19:00:00           177.0500
8756  2015-12-31 20:00:00           177.0300
8757  2015-12-31 21:00:00           166.7425
8758  2015-12-31 22:00:00           177.5900
8759  2015-12-31 23:00:00           175.9400

[8760 rows x 2 columns]

In [73]:
energy['timestamp'] = pd.to_datetime(energy['timestamp'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
dt = pd.DatetimeIndex(energy["timestamp"])
energy["date"] = dt.date
energy["hour"] = dt.hour
energy = energy.drop("timestamp", axis=1)
energy

      UnivClass_Alfredo        date  hour
0              204.2500  2015-01-01     0
1              202.6150  2015-01-01     1
2              198.5525  2015-01-01     2
3              198.5050  2015-01-01     3
4              201.8350  2015-01-01     4
...                 ...         ...   ...
8755           177.0500  2015-12-31    19
8756           177.0300  2015-12-31    20
8757           166.7425  2015-12-31    21
8758           177.5900  2015-12-31    22
8759           175.9400  2015-12-31    23

[8760 rows x 3 columns]

time_weather, energy 데이터프레임 결합

In [76]:
df = pd.merge(time_weather, energy, how="inner", on=["date", "hour"])
df

,timestamp,TimeMST,TemperatureC,Dew PointC,Humidity,Sea Level PressurehPa,VisibilityKm,Wind Direction,Wind SpeedKm/h,Gust SpeedKm/h,...,WindDirDegrees,DateUTC<br />,timestamp.1,date,year,month,day,hour,dayofweek,UnivClass_Alfredo
0,2015-01-01 00:51:00,12:51 AM,2.8,-0.6,79.0,1016.0,16.1,WNW,9.3,-,...,300,2015-01-01 07:51:00<br />,2015-01-01 00:51:00,2015-01-01,2015,1,1,0,3,204.2500
1,2015-01-01 01:51:00,1:51 AM,2.8,-0.6,79.0,1016.9,16.1,WNW,7.4,-,...,300,2015-01-01 08:51:00<br />,2015-01-01 01:51:00,2015-01-01,2015,1,1,1,3,202.6150
2,2015-01-01 02:51:00,2:51 AM,2.8,-1.1,76.0,1017.2,16.1,NW,5.6,-,...,320,2015-01-01 09:51:00<br />,2015-01-01 02:51:00,2015-01-01,2015,1,1,2,3,198.5525
3,2015-01-01 03:51:00,3:51 AM,2.2,-0.6,82.0,1017.5,16.1,ENE,5.6,-,...,60,2015-01-01 10:51:00<br />,2015-01-01 03:51:00,2015-01-01,2015,1,1,3,3,198.5050
4,2015-01-01 04:51:00,4:51 AM,2.2,-1.1,79.0,1017.9,16.1,ENE,5.6,-,...,70,2015-01-01 11:51:00<br />,2015-01-01 04:51:00,2015-01-01,2015,1,1,4,3,201.8350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8735,2015-12-31 19:51:00,7:51 PM,12.2,-6.1,28.0,1016.6,16.1,West,11.1,-,...,280,2016-01-01 02:51:00<br />,2015-12-31 19:51:00,2015-12-31,2015,12,31,19,3,177.0500
8736,2015-12-31 20:51:00,8:51 PM,11.7,-6.7,27.0,1017.0,16.1,West,11.1,-,...,270,2016-01-01 03:51:00<br />,2015-12-31 20:51:00,2015-12-31,2015,12,31,20,3,177.0300
8737,2015-12-31 21:51:00,9:51 PM,10.0,-6.7,31.0,1017.2,16.1,West,5.6,-,...,260,2016-01-01 04:51:00<br />,2015-12-31 21:51:00,2015-12-31,2015,12,31,21,3,166.7425
8738,2015-12-31 22:51:00,10:51 PM,9.4,-6.1,33.0,1017.4,16.1,Calm,Calm,-,...,0,2016-01-01 05:51:00<br />,2015-12-31 22:51:00,2015-12-31,2015,12,31,22,3,177.5900
8739,2015-12-31 23:51:00,11:51 PM,7.2,-5.6,40.0,1017.3,16.1,Calm,Calm,-,...,0,2016-01-01 06:51:00<br />,2015-12-31 23:51:00,2015-12-31,2015,12,31,23,3,175.9400

보기 편하도록 안쓰는 컬럼 제거

In [78]:
drop_cols = ['timestamp', 'TimeMST', 'DateUTC<br />', 'timestamp.1']
df = df.drop(drop_cols, axis=1)
df

,TemperatureC,Dew PointC,Humidity,Sea Level PressurehPa,VisibilityKm,Wind Direction,Wind SpeedKm/h,Gust SpeedKm/h,Precipitationmm,Events,Conditions,WindDirDegrees,date,year,month,day,hour,dayofweek,UnivClass_Alfredo
0,2.8,-0.6,79.0,1016.0,16.1,WNW,9.3,-,NaN,NaN,Mostly Cloudy,300,2015-01-01,2015,1,1,0,3,204.2500
1,2.8,-0.6,79.0,1016.9,16.1,WNW,7.4,-,NaN,NaN,Mostly Cloudy,300,2015-01-01,2015,1,1,1,3,202.6150
2,2.8,-1.1,76.0,1017.2,16.1,NW,5.6,-,NaN,NaN,Scattered Clouds,320,2015-01-01,2015,1,1,2,3,198.5525
3,2.2,-0.6,82.0,1017.5,16.1,ENE,5.6,-,NaN,NaN,Partly Cloudy,60,2015-01-01,2015,1,1,3,3,198.5050
4,2.2,-1.1,79.0,1017.9,16.1,ENE,5.6,-,NaN,NaN,Partly Cloudy,70,2015-01-01,2015,1,1,4,3,201.8350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8735,12.2,-6.1,28.0,1016.6,16.1,West,11.1,-,NaN,NaN,Clear,280,2015-12-31,2015,12,31,19,3,177.0500
8736,11.7,-6.7,27.0,1017.0,16.1,West,11.1,-,NaN,NaN,Partly Cloudy,270,2015-12-31,2015,12,31,20,3,177.0300
8737,10.0,-6.7,31.0,1017.2,16.1,West,5.6,-,NaN,NaN,Clear,260,2015-12-31,2015,12,31,21,3,166.7425
8738,9.4,-6.1,33.0,1017.4,16.1,Calm,Calm,-,NaN,NaN,Clear,0,2015-12-31,2015,12,31,22,3,177.5900
8739,7.2,-5.6,40.0,1017.3,16.1,Calm,Calm,-,NaN,NaN,Clear,0,2015-12-31,2015,12,31,23,3,175.9400